@model IEnumerable<EcosistemasMarinos.Entidades.EcosistemaMarino>

@{
    ViewData["Title"] = "Index";
}
@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Coordenadas.Latitud)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Coordenadas.Longitud)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCaracteristicas)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Coordenadas.Latitud)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Coordenadas.Longitud)
                </td>

                <td>
                    <dd class="col-sm-10">
                        <img class="img-thumbnail" src="~/images/ecosistema_marino/@item.Imagen" />
                    </dd>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionCaracteristicas)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
