@model IEnumerable<EcosistemasMarinos.Entidades.EspecieMarina>

@{
    ViewData["Title"] = "BuscarEspeciesQueHabitanEcosistema";
}


@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}


<h1>Buscar especies que habitan un ecosistema dado</h1>


@if (ViewBag.listaEcosistemas != null)
{
    <form method="post">
        <label>Seleccione un Ecosistema Marino </label> <br />
        <select id="EcosistemaSeleccionado" name="EcosistemaSeleccionado">
            @foreach (var option in ViewBag.listaEcosistemas)
            {
                <option value="@option.Id">@option.Nombre</option>
            }
        </select>
        <input type="submit" value="Buscar" />
    </form>
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCientifico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreVulgar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoConservacionId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCientifico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreVulgar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoConservacionId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
