@model EcosistemasMarinos.Entidades.EspecieMarina

@{
    ViewData["Title"] = "Create";
}

@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}



<h1>Create</h1>

<h4>EspecieMarina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCientifico" class="control-label"></label>
                <input asp-for="NombreCientifico" class="form-control" value="NombreCientifico01" />
                <span asp-validation-for="NombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreVulgar" class="control-label"></label>
                <input asp-for="NombreVulgar" class="form-control" value="NombreVulgar01"/>
                <span asp-validation-for="NombreVulgar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" value="Caracteristicas de la especie marina llamada NombreCientifico01" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="imagen" class="control-label"></label>
                <input type="file" name="imagen" class="form-control" />
                <span asp-validation="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" value="99" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" value="5" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>


            <div class="form-group">

                <label>Seleccione los ecosistemas marinos donde su vida es posible: </label> <br />
                <select multiple="multiple" id="SelectedOptions" name="SelectedOptions">
                    @foreach (var option in ViewBag.EcosistemasMarinos)
                    {
                        <option value="@option.Id">@option.Nombre</option>
                    }
                </select>

                @*

                @foreach (var option in ViewBag.EcosistemasMarinos)
                {
                <div>
                <input type="checkbox" id="@("option_" + option.Id)" name="SelectedOptions" value="@option.Nombre">
                <label for="@("option_" + option.Id)">@option.Nombre</label>
                </div>
                }


                <select multiple="multiple" id="SelectedOptions" name="SelectedOptions">
                @foreach (var option in ViewBag.EcosistemasMarinos)
                {
                <option value="@option.Id">
                @option.Nombre
                </option>
                }
                </select>
                @*
                <select name="Ecosistemas" multiple>
                @foreach (var producto in ViewBag.EcosistemasMarinos)
                {
                <option value="@producto.Id">@producto.Nombre - @producto.DescripcionCaracteristicas</option>
                }
                </select>
                *@
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
